<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDepositLabel" jhiTranslate="gatewayApp.deposit.home.createOrEditLabel">Create or edit a Deposit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!deposit.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="deposit.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.deposit.bookingCode" for="field_bookingCode">Booking Code</label>
            <input type="text" class="form-control" name="bookingCode" id="field_bookingCode"
                [(ngModel)]="deposit.bookingCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.deposit.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="deposit.userId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.deposit.currencyCode" for="field_currencyCode">Currency Code</label>
            <input type="text" class="form-control" name="currencyCode" id="field_currencyCode"
                [(ngModel)]="deposit.currencyCode" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
